.container {
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-end;
}

.container-pixit {
  position: absolute;
  width: calc(100% - 40px);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.options-button {
  width: 10px;
  height: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.options-item {
  cursor: pointer;
}
