.container {
  display: flex;
}

.left-panel {
  width: 50%;
  background-color: #3c4b5a;
}

.right-panel {
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.form {
  padding: 50px 40px;
}

.form-profilepic-area {
  display: flex;
  gap: 10px;
}

.form-profilepic {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 10px;
}

.form-button-area {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .right-panel {
    width: 100%;
    height: 100%;
    background-color: #3c4b5a;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-button-area > a {
    color: whitesmoke;
  }
}
